<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Book</title>
</head>
<body>
    <h1>Add a Book</h1>
    <form action="{{ url_for('add') }}" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title"><br>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author"><br>
        <label for="rating">Rating:</label>
        <input type="number" step="0.1" id="rating" name="rating"><br>
        <button type="submit">Add</button>
    </form>
</body>
</html>
