<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vinay Kumar K V</title>
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="static/favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Vinay.</h1>
      <h2>a <span class="pro">SCRUM</span>Master.</h2>
    </div>
    <img class="bottom-cloud" src="static/cloud.png" alt="cloud">
    <img class="mountain" src="static/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/vinay.jpeg" alt="vinay-profile-img" id="profilepic">
      <h2>Hello,</h2>
      <p class="intro">I have been part of TCS for the past 8+ years (incl. 2 years Sabbatical), I love working in a challenging environment, and my consistent performance opened up good opportunities at TCS.
        My team and I have received multiple recognitions from customers. I have handled multiple roles along the way - System Engineer, DevOps Engineer, Business Analyst, and Scrum Master (Product SME) .</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Scrum Master and Python Developer</h3>
        <p>I have knack of both management and problem-solving at various levels (includes - IT infra, cloud, coding etc.) which made me handle multiple roles and responsibilities, I would deep dive into any opportunity and come out as victorious </p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/chillies.png" alt="chillies-img">

        <h3>100 days of coding</h3>
        <p>This is something I have started as hobby learning new technical skills every 100 days, started with python.</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love contributing on my open source projects.</h3>
      <p class="contact-message">email ID :p</p>
      <a class="btn" href="mailto:ilove@hotwings.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/vinay-kumar-k-v/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/VinayKengeri">Twitter</a>
    <a class="footer-link" href="https://vinaykumarkv.github.io/">Website</a>
    <p class="copyright">© 2024 Vinay @ Opensource.</p>
  </div>
</body>

</html>
