{% extends 'base.html' %}

{% block title %}Add Movie{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading">Add a Movie</h1>
</div>
<form action="{{ url_for('add_movie') }}" method="post">
    <input type="text" name="title" placeholder="Title">
    <input type="number" name="year" placeholder="Year">
    <input type="text" name="description" placeholder="Description">
    <input type="number" name="rating" placeholder="Rating">
    <input type="number" name="ranking" placeholder="Ranking">
    <input type="text" name="review" placeholder="Review">
    <input type="text" name="img_url" placeholder="Image Url">
    <button type="submit" class="button">Add Movie</button>
</form>
{% endblock %}